.SidebarDrawer{
  position: sticky;
}
.Sidebar{
  display: flex;
  flex-direction: column;
  border-right: 1px solid;
  min-width: max-content;
  background-color: var(--joy-palette-background-surface);
}
.SidebarHeader{
  display: flex;
  gap:1rem;
  padding: 0.3rem;
  align-items: center;
}
.NavigationLinks{
  min-height: 0;
  overflow: hidden auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.TopList{
  size: "sm";
  gap:0.5rem;
  --ListnestedInsetStart : "30px";
}
@media(min-width:900px)
{
  .Sidebar{
    position: sticky;
  }
  .SidebarDrawer{
    position: fixed;
  }
}