.SidebarDrawer{
  z-index: 10000;
  height: 100dvh;
  position: sticky;
  width: 230px;
}
.Sidebar{
  display: flex;
  height: 100%;
  gap:0.2rem;
  padding: 1rem;
  flex-direction: column;
  border-right: 1px solid;
  min-width: max-content;
  background-color: var(--joy-palette-background-surface);
}
.SidebarHeader{
  display: flex;
  gap:1rem;
  padding: 0.3rem;
  align-items: center;
}
.NavigationLinks{
  min-height: 0;
  overflow: hidden auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.TopList{
  size: "sm";
  gap:0.5rem;
  --ListnestedInsetStart : "30px";
}
@media(min-width:900px)
{
  .Sidebar{
    z-index: 10000;
    height: calc(100dvh - 2rem);
    position: sticky;
    width: 250px;
  }
}