.navButton {
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    width: 20vw;
  }


.navBar {
  display: flex;
  align-items: center;
  flex-flow: row;
  flex: 0.7 1;
  flex-wrap: nowrap;
  max-height: 100px;
}
.pageLinks{
  justify-content: center;
  display: flex;
  flex: 2 1;
  column-gap: 0.2vw;
}
.profileMenu{
  display: flex;
  flex-flow: row-reverse;
  justify-content: center;
  align-items: center;
  flex:1 1;
}