
.App {
  text-align: center;
  display: flex;
  position: sticky;
  min-height: 100dvh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-link {
  color: #61dafb;
}


.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex:0.2 0;
  flex-flow: column;
  text-align: center;
  width: 100%;
}


